
.text_landingpage{
        position: absolute;
        margin: 0 auto;
        z-index: 3;
        text-align: center;
        font-size: 3vw;
        padding: 25vw;
        color: white;
        display: none;
}


   .text_landingpage{
        display: flex;
    }